# .NET
bin/
obj/
*.user

# Node
node_modules/
dist/
dist-electron/
release/

# Editor
.vs/
.vscode/
.idea/
.Development.json/

.env

backend/TodoApi/firebase-service-account.json
backend/TodoApi/appsettings.Production.json